@{
    ViewData["Title"] = "Успешно отправлено!";
}
<br />
<br />
<br />
<div class="jumbotron jumbotron-fluid bg-success">
    <div class="container">
        <h1 class="display-4">Спасибо за заданный вопрос!</h1>
        <p class="lead">Ваш вопрос был успешно отправлен, вскоре я на него отвечу!</p>
    </div>
</div>